@model TaxiApplication.Data.RouteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pricevalue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricevalue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxiStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxiStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopOvers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopOvers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rvmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
