@model IEnumerable<TaxiApplication.Data.Insurance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Owner.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_Excess_Fee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_Excess_Fee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InsuranceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InsuranceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InsuranceId })
        </td>
    </tr>
}

</table>
