@model IEnumerable<TaxiApplication.Data.WalkingPassenger>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RankManager.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Increment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th>
            @Html.DisplayName("Small Bag")
        </th>
        <th>
            @Html.DisplayName("Medium Bag")
        </th>
        <th>
            @Html.DisplayName("Large Bag")
        </th>
        <th>
            @Html.DisplayName("TotalPrice")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Increment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopOver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxiNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberLaggagSmall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberLaggageMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberLaggageLrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Next Of Kin", "Create", "WalkinNextOfKins")
            </td>
        </tr>
    }

</table>
