@model TaxiApplication.Data.LaggagePrice2

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Passenger.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LaggagePrice2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.season.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.season.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LPId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
