@model TaxiApplication.Data.LuggagePrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LuggagePrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Luggage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luggage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PriceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
