@model IEnumerable<TaxiApplication.Data.Report>


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Owner.cshtml";

}

<h2>Index</h2>

<p>
    <a href="~/Reports/Create" class="w3-button" style="background-color:#f0ad4e;color:white">Add New</a>
</p>
<table class="table table-bordered table-striped" style="width:80%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.schedule.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiDriver.TaxiNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule.route.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.schedule.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxiDriver.taxi.TaxiNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxiDriver.driver.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schedule.route.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schedule.id)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                @Html.ActionLink("Reserve", "Reserve", new { id = item.ID })

            </td>
        </tr>
    }

</table>


