@model TaxiApplication.Models.Schedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rank.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rank.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.route.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
