@model TaxiApplication.Data.Booking

@{
    ViewBag.Title = "ConfirmDetails";
    var msg = TempData["AlertMessage"] ?? string.Empty;
            Layout = "~/Views/Shared/_Passenger.cshtml";

}

<script type="text/javascript">
    var msg = '@msg';
    if (msg)
    {
        alert(msg)
    }

</script>


<br /><br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Vehicle Collection</h3>
    </div>

    <div class="panel-body" style="height:25em;overflow-y:auto">
        <h4>Please Confirm Correctness of details.</h4>
        <table class="table table-bordered table-striped">
            @*<tr>
                <td>
                    Client
                </td>

                <td>

                    @Html.DisplayName(Model.getLastName())
                    @Html.DisplayName(Model.getFirstName())
                </td>
            </tr>*@

            <tr>
                <td>
                    Vehicle
                </td>

                <td>
                    @Html.DisplayFor(m => m.taxiH.TaxiMakes.MakeType)
                    @Html.DisplayFor(m => m.taxiH.TaxiModels.TaxiModelName)
                </td>
            </tr>
            <tr>
                <td>
                    Milage
                </td>

                <td>
                    @Html.DisplayFor(m => m.taxiH.CurrentMilage) km
                </td>
            </tr>

            <tr>
                <td>
                    Basic Cost
                </td>

                <td>
                    @Html.DisplayFor(m=>m.DayPrice)
                </td>
            </tr>
            @*<tr>
                <td>
                    Extras Total Cost
                </td>

                <td>
                    @Html.DisplayName(Model.calcExtra().ToString("R0.00"))
                </td>
            </tr>*@

            <tr>
                <td>
                    Deposite
                </td>

                <td>
                    @Html.DisplayFor(m => m.deposite)
                </td>
            </tr>
            <tr>
                <td>
                    Days
                </td>

                <td>
                    @Html.DisplayFor(m=>m.numOfDays)
                </td>
            </tr>



        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Confirm", "ConfirmCollection", new { id = Model.BookingId }, new { @class = "btn btn-success" })
    <a href="~/Bookings/Edit/@Model.BookingId" class="btn btn-primary">Edit Details</a>
</p>
