@model TaxiApplication.Data.Booking

@{
    ViewBag.Title = "ReturnVehicle";
}

<h2>ReturnVehicle</h2>


@using (Html.BeginForm("Edit", "Bookings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.BookingId)
    <div class="form-group">
        @Html.LabelFor(model => model.MilageIn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MilageIn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MilageIn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.PickUpDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*<input type="text" id="PickUpDate" readonly value="@ViewBag.pick" class="form-control" name="PickUpDate" />*@
            @Html.TextBoxFor(model => model.PickUpDate, "{0:d}")
            @Html.ValidationMessageFor(model => model.MilageIn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ReturnDate, "{0:d}")
            @*<input type="text" id="ReturnDate" readonly value="@ViewBag.retur" class="form-control" name="ReturnDate" />*@
            @Html.ValidationMessageFor(model => model.MilageIn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.vehicleID, "vehicleID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("vehicleID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.vehicleID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.userId, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" readonly value="@ViewBag.userID" class="form-control" name="userId" />
            @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" readonly value="@ViewBag.status" class="form-control" name="status" />

            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Vehicle Returns</h3>
    </div>
    <table class="table table-bordered table-striped">
        @*<tr>
            <td>
                Client
            </td>

            <td>
             
                @Html.DisplayName(Model.getLastName())
                @Html.DisplayName(Model.getFirstName())
            </td>
        </tr>*@

        <tr>
            <td>
                Vehicle
            </td>

            <td>
                @Html.DisplayName(Model.taxiH.getMake())
                @Html.DisplayName(Model.taxiH.getModel())
            </td>
        </tr>
        <tr>
            <td>
                Milage Out
            </td>

            <td>
                @Html.DisplayFor(m => m.MilageOut) km
            </td>
        </tr>
        <tr>
            <td>
                Milage In
            </td>

            <td>
                @Html.DisplayFor(m => m.MilageIn) km
            </td>
        </tr>
        <tr>
            <td>
                Basic Cost
            </td>

            <td>
                @Html.DisplayFor(m => m.DayPrice)
            </td>
        </tr>
        <tr>
            <td>
                Number of Days
            </td>

            <td>
                @Html.DisplayFor(m => m.numOfDays)
            </td>
        </tr>
        @*<tr>
            <td>
                Extra Km Cost
            </td>

            <td>
                @Html.DisplayName(Model.calcExtraKMCost().ToString("R0.00"))
            </td>
        </tr>*@
        <tr>
            <td>
                Kilometre Rate
            </td>

            <td>
                @Html.DisplayFor(m => m.kiloCost)
            </td>
        </tr>
        <tr>
            <td>
                Used Km
            </td>

            <td>
                @Html.DisplayFor(m => m.UsedKM) km
            </td>
        </tr>
        <tr>
            <td>
                Total Cost
            </td>

            <td>
                <strong> @Html.DisplayFor(m => m.TotalCost)</strong> 
            </td>
        </tr>
    </table>
    @Html.ActionLink("Done", "AvailableCar", new { id = Model.BookingId }, new { @class = "btn btn-success" })
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
