@model IEnumerable<TaxiApplication.Data.TaxiPosition>

@{
    ViewBag.Title = "ManagerIndex";
    Layout = "~/Views/Shared/_RankManager.cshtml";
}

<h2>ManagerIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoutePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.NumSeats)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.TaxiNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepertureTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoutePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiModel)
        </td>
        <td>
            <img src="@Url.Action("RenderImage", "TaxiMakes", new { id = item.td})" width="50" height="60" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NumSeats)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TaxiNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepertureTime)
        </td>
        <td>

           @Html.ActionLink("Check Reserved Passengers", "ManagerIndex", "ReservedLists")
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        </td>
    </tr>
}

</table>
