@model TaxiApplication.Data.LaggagePrices

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LaggagePrices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ls.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ls.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
