@model IEnumerable<TaxiApplication.Data.TaxiDriver>


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Owner.cshtml";

}

<h2>Index</h2>

<p>
    <a href="~/TaxiDrivers/Create" class="w3-button" style="background-color:#f0ad4e;color:white">Add New</a>
</p>
<table class="table table-bordered table-striped" style="width:80%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.driverID)*@
            Driver Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.driver.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSeats)
        </td>
        <td>
            <img src="@Url.Action("RenderImage", "Taxis", new { id = item.TaxiNo})" width="50" height="60" />
        </td>
        <td>
            <a href="@Url.Action("Details", "TaxiDrivers", new { id = item.driverID })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
            <a href="@Url.Action("Edit", "TaxiDrivers", new { id = item.driverID })   " rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", "TaxiDrivers", new { id = item.driverID }) " rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-times"></i></a>
        </td>
    </tr>
    }

</table>
