@model TaxiApplication.Data.StopOver

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal modal-content" style="margin-top:2%;width:45%;padding-left:30px;padding-right:30px;margin-bottom:50px">
    <h4>Add Rank</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <label>Select Route</label>
    @Html.DropDownList("RouteId", null, htmlAttributes: new { @class = "w3-border w3-padding", style = "width:100%" })
    @Html.ValidationMessageFor(model => model.RouteId, "", new { @class = "text-danger" })

    <label>Stop</label>
    <input type="text" name="stop" class="w3-border w3-padding" required placeholder="enter stop name" />
    @Html.ValidationMessageFor(model => model.stop, "", new { @class = "text-danger" })

    @*<label>Latitude</label>
    <input type="text" name="lat" class="w3-border w3-padding" required placeholder="e.g. 31.9087" />
    @Html.ValidationMessageFor(model => model.lat, "", new { @class = "text-danger" })

    <label>Longitude</label>
    <input type="text" name="longitude" class="w3-border w3-padding" required placeholder="e.g. -21.0986" />
    @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })*@



    <br /><br />

    <span class="w3-left">
        <a class="w3-button" type="submit" style="margin-top:5px;background-color:#f0ad4e;color:white" href="~/StopOvers/Index"> Back </a>
    </span>

    <span class="w3-right">
        <button class="w3-button" type="submit" style="margin-top:5px;background-color:#f0ad4e;color:white"> Save </button>
    </span>
    <br /><br />
</div>
}
